<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Dra. Joana Dourado </title>
    <meta charset="utf-8"></meta>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="SANA design multipurpose template"/>
    <meta name="date" content="Dec 26"></meta>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald%7CLato:400italic,400,700"/>
    <link rel="stylesheet" href="css/style.css"/>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
		
  </head>
  <body>
  
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head rd-navbar-sidebar-toggle-wrap">
       <!--Swiper-->
        <div data-loop="true" data-height="" data-autoplay="false" data-slide-effect="fade" data-dragable="false" data-min-height="400px" class="swiper-container swiper-slider bg-white">
          <div class="swiper-top-panel">
            <div class="shell">
              <div class="swiper-top-panel-left"><a href="/login.html" class="reveal-lg-inline-block"><img width='206' height='63' class='img-responsive' src='images/logo.png' alt=''></img></a></div>
              <div class="swiper-top-panel-center">
                <!-- Contact Info-->
                <address class="contact-info reveal-sm-inline-block text-left offset-none">
                  <div class="p unit unit-spacing-xs unit-horizontal">
                    <div class="unit-left"><span class="icon icon-xs icon-circle icon-java-filled mdi mdi-phone"></span></div>
                    <div class="unit-body"><a href="callto:#" class="text-white">+55 75 99832 3500</a><br></br><a href="callto:#" class="text-white">+55 75 3223 3380</a></div>
                  </div>
                </address>
              </div>
              <div class="swiper-top-panel-right">
                <address class="contact-info reveal-sm-inline-block text-left">
                  <div class="p unit unit-horizontal unit-spacing-xs">
                    <div class="unit-left"><span class="icon icon-xs icon-circle icon-java-filled mdi mdi-map-marker"></span></div>
                    <div class="unit-body"><a href="https://www.google.com/maps/place/R.+Bar%C3%A3o+do+Rio+Branco,+1309+-+Centro,+Feira+de+Santana+-+BA,+48903-400/@-12.2547119,-38.9621061,17z/data=!3m1!4b1!4m5!3m4!1s0x7143791c4d69d47:0x2083162bad81068a!8m2!3d-12.2547119!4d-38.9599174" class="text-white">Rua Barão do Rio Branco, 1309 - Centro, Sala 401<br></br>BA 44001-205 BRA</a></div>
                  </div>
                </address>
              </div>
            </div>
          </div>
          <div class="swiper-wrapper context-dark text-center">
            <div id="page-loader" data-slide-bg="images/backgrounds/background-01-1920x900.jpg" class="swiper-slide">
              <div class="swiper-caption">
                <div class="swiper-slide-caption">
                  <div class="shell shell-fullheight">
                    <div class="range range-xs-middle range-xs-center range-md-left range-fix">
                      <div class="cell-md-7 cell-lg-8 section-41 section-sm-98">
                        <div class="text-md-left">
                          <h2 class="text-spacing-20">High Quality Odontologic Care that's Fast and Convenient</h2>
                          <h5 class="veil reveal-md-block">Our entire team is dedicated to providing you with the highest standard of quality dental care services that are tailored to meet the specific needs of every member of your family.</h5><a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-ellipse btn-primary offset-top-14 offset-sm-top-41">make an appointment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-slide-bg="images/backgrounds/background-02-1920x900.jpg" class="swiper-slide">
              <div class="swiper-caption">
                <div class="swiper-slide-caption">
                  <div class="shell shell-fullheight">
                    <div class="range range-xs-middle range-xs-center range-md-left range-fix">
                      <div class="cell-md-6 section-41 section-sm-98 to-front">
                        <div class="text-md-left">
                          <h2 class="text-spacing-20">Affordable pediatric dentistry services</h2>
                          <h5 class="veil reveal-md-block">We understand how important it is for your child to have healthy teeth. That’s why our range of services also includes various children’s dentistry services from checkups to restorative care.</h5><a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-ellipse btn-primary offset-top-14 offset-sm-top-41">make an appointment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-slide-bg="images/backgrounds/background-03-1920x900.jpg" class="swiper-slide">
              <div class="swiper-caption">
                <div class="swiper-slide-caption">
                  <div class="shell shell-fullheight">
                    <div class="range range-xs-middle range-xs-center range-md-left range-fix">
                      <div class="cell-md-7 cell-lg-8 section-41 section-sm-98">
                        <div class="text-md-left">
                          <h2 class="text-spacing-20">We are a team of qualified dentists and nurses</h2>
                          <h5 class="veil reveal-md-block">Denta-C pursues the goal of caring about the health of your teeth, and we have gathered a qualified team of experts, who are dedicated to the needs of your and your family’s dental care.</h5><a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-ellipse btn-primary offset-top-14 offset-sm-top-41">make an appointment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="shell text-left">
              <div class="range range-xs-center range-xs-middle range-lg-right section-relative range-fix">
                <div class="cell-xs-10 cell-sm-7 cell-md-5 cell-lg-4 offset-top-40 offset-top-0 swiper-center-caption swiper-center-caption-centered">
                  <!-- Panel-->
                  <div class="panel panel-lg panel-lg-vertical bg-overlay-gray-dark text-lg-left">
                    <h5 class="text-white">Free Consultation</h5>
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate" class="rd-mailform offset-top-24">
                      <div class="group-12 group-top">
                        <div class="group-item element-fullwidth">
                          <div class="form-group form-group-label-outside">
                            <label for="index-email" class="form-label form-label-outside rd-input-label text-white-05">E-mail</label>
                            <input id="index-email" type="email" name="email" data-constraints="@Email @Required" class="form-control form-control-white form-border-none"></input>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth">
                          <div class="form-group form-group-label-outside">
                            <label for="index-phone" class="form-label form-label-outside rd-input-label text-white-05">Phone</label>
                            <input id="index-phone" type="text" name="phone" data-constraints="@Numeric @Required" class="form-control form-control-white form-border-none"></input>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth">
                          <div class="form-group form-group-select-white text-left">
                            <label for="index-doctor" class="form-label form-label-outside text-white-05">Doctor</label>
                            <div class="select2-whitout-border shadow-drop-md">
                              <select id="index-doctor" data-minimum-results-for-search="Infinity" name="person" class="form-control">
                                <option value="Doctor">Dra. Joana Dourado</option>
     
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="group-item element-fullwidth offset-top-20 text-center text-md-left">
                          <button type="submit" class="btn-ellipse btn btn-primary">book a consultation</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination veil reveal-sm-block"></div>
        </div>
      </header>
      <!-- Page Contents-->
      <!-- a few words about us-->
      <section class="section bg-image novi-background section-98 section-sm-110 text-left">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-xs-10 cell-md-8">
              <h3>a few words about us</h3>
              <hr class="divider divider-lg bg-primary hr-left-0 hr-sm-left-2"></hr>
              <div class="offset-top-41 offset-lg-top-60">
                <p>We are a family focused dental practice, founded in 1997 with a strong emphasis on preventive care and general dentistry to help you and your family achieve and keep a healthy smile for life. During your consultation, we like to take the time to discuss with you all the options available to solve your dental problems so we can provide the treatment that is the most suitable for you. We are committed to attending continuous education courses and seminars covering all areas of dentistry in order to ensure that all patients receive the best and most current treatments available.</p>
                <p>Our experienced staff members are dedicated to providing friendly, comfortable and professional dental care using all the latest technology to ensure your smile is always at its best.</p>
              </div>
            </div>
            <div class="cell-xs-10 cell-md-4 offset-top-41 offset-md-top-0">
              <h6>the heart of medical center</h6>
              <hr class="text-subline"></hr>
              <div class="offset-top-30">
                <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-vertical unit-sm-horizontal unit-xs-horizontal unit-spacing-sm">
                  <div class="unit-left"><img src="images/users/user-joana-110x110.png" width="110" height="110" alt="" class="img-responsive"></img>
                  </div>
                  <div class="unit-body">
                    <h5 class="text-bold text-java">Dra. Joana Dourado</h5>
                    <p class="text-italic offset-top-0">Chief Odontologic Officer, Founder</p>
                    <div class="p unit unit-spacing-xxs unit-horizontal offset-top-14">
                      <div class="unit-left"><span class="icon icon-xs mdi mdi-phone text-java"></span></div>
                      <div class="unit-body"><a href="#" class="h6">+55 75 99832 3500</a></div>
                    </div>
                  </div>
                </div>
                <p>With over 30 years of healthcare industry experience, Dra. Joana Dourado serves as the Chief Dental.</p><a href="http://lattes.cnpq.br/3476335701506866" class="btn btn-primary btn-ellipse">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Achievements-->
      <section class="text-sm-left bg-white-liac section bg-image novi-background">
        <div class="shell-wide">
          <div class="range range-xs-center range-fix">
            <div class="cell-lg-5 cell-xl-4 section-90 section-md-122 context-md-dark bg-image-md-fullwidth-1 bg-image-md-fullwidth-1-left veil reveal-lg-block">
              <div style="background-image: url(images/backgrounds/background-02-676x545.jpg)" class="img-background custom-bg-image"></div>
            </div>
            <div class="cell-sm-10 cell-md-12 cell-lg-7 cell-xl-8 section-85 section-md-top-124 section-md-bottom-98">
              <div class="inset-md-left-60 inset-xl-left-100">
                <h3>Our Achievements</h3>
                <hr class="divider divider-lg bg-primary hr-sm-left-2"></hr>
                <div class="offset-top-41 offset-lg-top-60">
                  <div class="range">
                    <div class="cell-md-12 cell-xl-9">
                      <div class="range">
                        <div class="cell-md-6">
                          <!-- Icon Box Type 2-->
                          <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-sm-left unit-middle">
                            <div class="unit-left"><span class="icon icon icon-sm icon-circle icon-primary-filled mdi mdi-trophy-variant"></span></div>
                            <div class="unit-body">
                              <h5 class="text-bold text-bold text-java">The Best Medical Center 2015</h5>
                              <p></p>
                            </div>
                          </div>
                        </div>
                        <div class="cell-md-6">
                          <!-- Icon Box Type 2-->
                          <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-sm-left unit-middle">
                            <div class="unit-left"><span class="icon icon icon-sm icon-circle icon-primary-filled  mdi mdi-pill copy"></span></div>
                            <div class="unit-body">
                              <h5 class="text-bold text-bold text-java">Certified by the International Association</h5>
                              <p></p>
                            </div>
                          </div>
                        </div>
                        <div class="cell-md-6 offset-md-top-50">
                          <!-- Icon Box Type 2-->
                          <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-sm-left unit-middle">
                            <div class="unit-left"><span class="icon icon icon-sm icon-circle icon-primary-filled  mdi mdi-school"></span></div>
                            <div class="unit-body">
                              <h5 class="text-bold text-bold text-java">The Best Doctors Award</h5>
                              <p></p>
                            </div>
                          </div>
                        </div>
                        <div class="cell-md-6 offset-md-top-50">
                          <!-- Icon Box Type 2-->
                          <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-sm-left unit-middle">
                            <div class="unit-left"><span class="icon icon icon-sm icon-circle icon-primary-filled  mdi mdi-star"></span></div>
                            <div class="unit-body">
                              <h5 class="text-bold text-bold text-java">The Five Star Award</h5>
                              <p></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Services-->
      <section class="section section-66 section-sm-110 bg-white novi-background bg-image">
        <div class="shell">
          <h3>Our Services</h3>
          <hr class="divider divider-lg bg-primary"></hr>
          <div class="offset-top-60">
            <p>We provide high-quality health care services for the whole family.</p>
          </div>
          <div class="range range-xs-center offset-top-60 text-md-left">
            <div class="cell-sm-6 cell-md-4">
              <div class="service"><img src="images/pages/home-01-320x320.jpg" width="320" height="320" alt="" class="img-responsive"></img><a href="#" class="service-desc h6">General Care</a>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-50 offset-sm-top-0">
              <div class="service"><img src="images/pages/home-02-320x320.jpg" width="320" height="320" alt="" class="img-responsive"></img><a href="#" class="service-desc h6">Endodontics Dentistry</a>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-50 offset-md-top-0">
              <div class="service"><img src="images/pages/home-03-320x320.jpg" width="320" height="320" alt="" class="img-responsive"></img><a href="#" class="service-desc h6">Restorative Dentistry</a>
              </div>
            </div>
          </div>
          <div class="offset-top-70"><a href="#" class="btn btn-ellipse btn-primary">View all services</a></div>
        </div>
      </section>
      <!-- testimonials-->
      <section class="section bg-image novi-background section-relative text-sm-left bg-white-liac">
        <div class="shell">
          <div class="range range-xs-center range-fix">
            <div class="cell-sm-8 cell-md-6 context-dark section-66 section-md-200 section-md-bottom-167 section-bg-image section-bg-image-left section-bg-image-1">
              <div style="background-image: url(images/backgrounds/background-05-960x678.jpg)" class="img-background custom-bg-image"></div>
              <div class="inset-md-right-30 inset-lg-right-50">
                <h2>Quality Services and Best Prices</h2>
                <p class="offset-top-13">Denta-C provides a vast range of dental care services for our patients. You can find the full list of services or order a free consultation if you are interested in general dental care.</p><a href="#" class="btn btn-ellipse btn-primary offset-top-14">free consultation</a>
              </div>
            </div>
            <div class="cell-sm-8 cell-md-6 section-34 section-sm-110">
              <div class="inset-md-left-50 inset-lg-left-115">
                <h3>testimonials</h3>
                <hr class="divider divider-lg hr-sm-left-0 bg-primary"></hr>
                <div data-loop="false" data-items="1" data-margin="50" data-dots="true" data-mouse-drag="false" data-nav="false" class="owl-carousel owl-carousel-default owl-carousel-class-light text-xs-left offset-top-30 offset-sm-top-60 owl-dots-java owl-dots-md-left">
                  <div class="owl-item">
                    <blockquote class="quote quote-classic quote-classic-top inset-lg-right-40">
                      <div class="quote-body">
                        <p class="h4 text-italic text-gray-dark">
                          <q>I urgently required dental help on July, 4. And despite all other clinics being closed, Denta-C took my appointment!</q>
                        </p>
                        <div class="quote-meta unit unit-horizontal unit-spacing-sm unit-middle">
                          <div class="unit-left unit-item-narrow"><img width="60" height="60" src="images/users/user-herbert-wallace-60x60.jpg" alt="" class="img-circle quote-img"></img></div>
                          <div class="unit-body unit-item-wide">
                            <h5 class="quote-author text-capitalize text-bold text-java">
                              <cite class="text-normal">Fulano de Tal One</cite>
                            </h5>
                            <p class="quote-desc text-capitalize text-gray text-italic">Patient</p>
                          </div>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <div class="owl-item">
                    <blockquote class="quote quote-classic quote-classic-top inset-lg-right-40">
                      <div class="quote-body">
                        <p class="h4 text-italic text-gray-dark">
                          <q>Comparing teeth whitening prices here and elsewhere, I picked Denta-C. The result was beyond my expectations!</q>
                        </p>
                        <div class="quote-meta unit unit-horizontal unit-spacing-sm unit-middle">
                          <div class="unit-left unit-item-narrow"><img width="60" height="60" src="images/users/user-gary-growles-60x60.jpg" alt="" class="img-circle quote-img"></img></div>
                          <div class="unit-body unit-item-wide">
                            <h5 class="quote-author text-capitalize text-bold text-java">
                              <cite class="text-normal">Fulano de Tal three</cite>
                            </h5>
                            <p class="quote-desc text-capitalize text-gray text-italic">Patient</p>
                          </div>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <div class="owl-item">
                    <blockquote class="quote quote-classic quote-classic-top inset-lg-right-40">
                      <div class="quote-body">
                        <p class="h4 text-italic text-gray-dark">
                          <q>Taking my kids to a dentist has never been easier. They just loved the welcoming and warm atmosphere in there!</q>
                        </p>
                        <div class="quote-meta unit unit-horizontal unit-spacing-sm unit-middle">
                          <div class="unit-left unit-item-narrow"><img width="60" height="60" src="images/users/user-betty-wade-60x60.jpg" alt="" class="img-circle quote-img"></img></div>
                          <div class="unit-body unit-item-wide">
                            <h5 class="quote-author text-capitalize text-bold text-java">
                              <cite class="text-normal">Fulana de Tal Four</cite>
                            </h5>
                            <p class="quote-desc text-capitalize text-gray text-italic">Patient</p>
                          </div>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our team -->
       <!-- Our team  Alterado para atender a necessidade dos clientes -->
      <section class="section bg-image novi-background section-98 section-sm-110 text-left">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-xs-10 cell-md-8">
              <h3>Do You Know Endodontics?</h3>
              <hr class="divider divider-lg bg-primary hr-left-0 hr-sm-left-2"/>
              <div class="offset-top-41 offset-lg-top-60">
                <p>Going to the dentist should be a part of everyone's routine. It is recommended that consultations take place every six months so that you can monitor your health status.  Thus, oral problems can be released early. In some cases, the patient is referred to a specialized professional, such as the endodontist. "Endodontics is the specialty within Dentistry that takes care of the heart of the tooth, which we call dental pulp", defines a professional. This part of the dental pulp is located from the dentin to the root of the teeth, being formed by nerves and blood vessels.</p>
              </div>
            </div>
            <div class="cell-xs-10 cell-md-4 offset-top-41 offset-md-top-0">
              <h6>the heart of Odontologics Clinic</h6>
              <hr class="text-subline"/>
              <div class="offset-top-30">
                <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-vertical unit-sm-horizontal unit-xs-horizontal unit-spacing-sm">
                  <div class="unit-left"><img src="images/users/user-joana-110x110.png" width="110" height="110" alt="" class="img-responsive"/>
                  </div>
                  <div class="unit-body">
                    <h5 class="text-bold text-java">Dra. Joana Dourado</h5>
                    <p class="text-italic offset-top-0">Chief Odontologics Officer, Founder</p>
                    <div class="p unit unit-spacing-xxs unit-horizontal offset-top-14">
                      <div class="unit-left"><span class="icon icon-xs mdi mdi-phone text-java"></span></div>
                      <div class="unit-body"><a href="#" class="h6">+55 75 99832 3500</a></div>
                    </div>
                  </div>
                </div>
                <p>With over 30 years of healthcare industry experience, Dr. Scott Riley serves as the Chief Dental Officer at Denta-C.</p><a href="http://lattes.cnpq.br/3476335701506866" class="btn btn-primary btn-ellipse">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- RD Parallax-->
      <section data-parallax-img="images/backgrounds/background-04-1920x900.jpg" class="section parallax-container">
        <div class="parallax-content bg-overlay-chathams-blue section-98 section-sm-110 context-dark">
          <div class="shell">
            <h2>How we can help</h2>
            <p class="offset-top-14 offset-md-top-34">We offer a wide range of procedures to help you get the perfect smile</p><a href="#" class="btn btn-ellipse btn-primary offset-top-14 offset-md-top-34">BOOK AN APPOINTMENT</a>
          </div>
        </div>
      </section>
      <!-- Schedule -->
      <section class="section bg-image novi-background section-34 section-md-110 bg-white">
        <div class="shell-wide shell-wide-xl">
          <div class="range range-xs-center">
            <div class="cell-sm-6 cell-md-5 cell-xl-3">
              <!-- Sheldue Modern-->
              <div class="sheldue-modern">
                <div class="sheldue-modern-header bg-java">
                  <h6 class="text-white">opening hours</h6>
                </div>
                <div class="sheldue-modern-body text-left"><span class="icon icon-sm mdi mdi-calendar-clock text-primary"></span>
                  <div class="clearfix offset-top-14">
                    <dl class="text-gray-darker">
                      <dt class="text-regular pull-xs-left">Monday</dt>
                      <dd class="pull-xs-right">8:00am–12:00pm</dd>
                    </dl>
                  </div>
                  <div class="clearfix offset-top-10">
                    <dl class="text-gray-darker">
                      <dt class="text-regular pull-xs-left">Wednesday</dt>
                      <dd class="pull-xs-right">8:00am–12:00pm</dd>
                    </dl>
                  </div>
                  <div class="clearfix offset-top-10">
                    <dl class="text-gray-darker">
                      <dt class="text-regular pull-xs-left">Thursday</dt>
                      <dd class="pull-xs-right">8:00am–12:00pm</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-xl-3 offset-top-30 offset-sm-top-0">
              <!-- Sheldue Modern-->
              <div class="sheldue-modern">
                <div class="sheldue-modern-header bg-java">
                  <h6 class="text-white">dentistys timetable</h6>
                </div>
                <div class="sheldue-modern-body text-left"><span class="icon icon-sm mdi mdi-calendar-today text-primary"></span>
                  <div class="offset-top-14">
                    <p class="text-gray-darker">The timetable is for guidance only to help you plan your appointment with a preferred dentisty.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-xl-3 offset-top-30 offset-xl-top-0">
              <!-- Sheldue Modern-->
              <div class="sheldue-modern">
                <div class="sheldue-modern-header bg-java">
                  <h6 class="text-white">appointments</h6>
                </div>
                <div class="sheldue-modern-body text-left"><span class="icon icon-sm mdi mdi-phone text-primary"></span>
                  <div class="offset-top-14">
                    <p class="text-gray-darker">The first step towards a healthy life  is to schedule an appointment. Please contact our office by phone or complete the appointment request form.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-xl-3 offset-top-30 offset-xl-top-0">
              <!-- Sheldue Modern-->
              <div class="sheldue-modern">
                <div class="sheldue-modern-header bg-java">
                  <h6 class="text-white">emergency cases</h6>
                </div>
                <div class="sheldue-modern-body text-left"><span class="icon icon-sm mdi mdi-heart-box-outline text-primary"></span>
                  <div class="offset-top-14">
                    <h5 class="p text-bold"><a href="callto:#" class="text-gray-darker">+55 75 99832-3500</a></h5>
                  </div>
                  <div class="offset-top-10">
                    <p class="text-gray-darker">Call us!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-55 page-footer bg-java context-dark bg-image novi-background">
        <div class="shell-wide">
          <div class="inset-xl-left-30">
            <div class="range range-sm-center range-fix">
              <div class="cell-sm-8 cell-md-12">
                <div class="range range-md-justify range-md-middle">
                  <div class="cell-md-4 cell-md-push-1 text-md-left">
                    <!-- Footer brand-->
                    <div class="footer-brand reveal-inline-block"><a href="#"><img width="206" height="63" src="images/logo.png" alt="" class="img-responsive"></img></a></div>
                  </div>
                  <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-3 text-md-right">
                          <ul class="list-inline">
                            <li><a href="http://www.facebook.com" class="icon fa fa-facebook icon-xxs icon-circle icon-white-filled"></a></li>
                            <li><a href="http://www.twitter.com" class="icon fa fa-twitter icon-xxs icon-circle icon-white-filled"></a></li>
                            <li><a href="http://www.google.com.br" class="icon fa fa-google icon-xxs icon-circle icon-white-filled"></a></li>
                            <li><a href="http://www.instagram.com" class="icon fa fa-rss icon-xxs icon-circle icon-white-filled"></a></li>
                          </ul>
                  </div>
                  <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-2">
                    <p class="text-white-05">&copy; <span id="copyright-year"></span> All Rights Reserved Reuder Cerqueira - Terms of Use and <a href="https://www.instagram.com/digitalvendasfsa/" class="text-white-05">Privacy Policy</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Modal-->
      <div id="myModal" role="dialog" class="modal fade"> 
        <div class="modal-dialog"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header"> 
              <button type="button" data-dismiss="modal" class="close mdi mdi-window-close"></button>
            </div>
            <div class="modal-body"> 
              <div class="panel panel-lg panel-lg-vertical bg-overlay-gray-dark text-lg-left">
                <h5 class="text-white">Make an Appointment</h5>
                <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate" class="rd-mailform offset-top-24">
                  <div class="group-12 group-top">
                    <div class="group-item element-fullwidth">
                      <div class="form-group form-group-label-outside">
                        <label for="modal-index-email" class="form-label form-label-outside rd-input-label text-white-05">E-mail</label>
                        <input id="modal-index-email" type="email" name="email" data-constraints="@Email @Required" class="form-control form-control-white form-border-none"></input>
                      </div>
                    </div>
                    <div class="group-item element-fullwidth">
                      <div class="form-group form-group-label-outside">
                        <label for="modal-index-phone" class="form-label form-label-outside rd-input-label text-white-05">Phone</label>
                        <input id="modal-index-phone" type="text" name="phone" data-constraints="@Numeric @Required" class="form-control form-control-white form-border-none"></input>
                      </div>
                    </div>
                    <div class="group-item element-fullwidth">
                      <div class="form-group form-group-label-outside">
                        <label for="modal-index-date" class="form-label form-label-outside rd-input-label text-white-05">Date</label>
                        <input id="modal-index-date" type="text" name="date" data-constraints="@Numeric @Required" placeholder="MM\DD" class="form-control form-control-white form-border-none"></input>
                      </div>
                    </div>
                    <div class="group-item element-fullwidth offset-top-20 text-center text-md-left">
                      <button type="submit" class="btn-ellipse btn btn-primary">make an appointment</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>